node_modules
.env
.DS_Store
**/*.log
backend/database.sqlite
backend/uploads
android-sdk
tmp
tools
android-standalone/local.properties
android-standalone/keystore.properties
android-standalone/release-key.jks
android-standalone/.gradle
android-standalone/app/build
private-backups
